
h1{text-align: center;
    padding: 12px;
    background-color: violet;
     color: black;
     border: 3px solid palegoldenrod;
    text-shadow: 3px 3px 1px white;
} 

h3{ 
        text-align: center;
        padding-block: 6px;
        background-color: violet;
        border: 3px solid palegoldenrod;
    }
 


.fleximpl{
    margin-top: 25px;
    display:grid;
    width: 100%;
    grid-template-columns:repeat(2 ,1fr);
}

.container{
    width: 70%;
    margin-left:15% ;
    margin-right: 20%;
    border: 3px solid palegoldenrod;
   
    
    }
   img{
    display: block;
    margin: 0 auto;
   }
   
    
    footer{
        margin-top: 20px;
        padding: 10px;
        background-color: black;
        color: white;
        text-align: center;
    }
    .table{
        margin-left: auto;
        margin-right: auto;
    }
        
       
        
